/* COMMON */
body {
    background-image: url("/images/anonymous-server-background.jpg");
    height: 100vh;
    background-color: grey;
}
.page {
    /*central container*/
    margin: 0 30px;
}




/* HEADER */
.page__header {
}
.nav-trigger {}




/* MENU */
.nav {}
.nav__items {}
.nav__item {}
.nav__link {}
.nav-close {}




/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {
    font-family: 'Roboto Slab', serif;
    color: white;
}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {
    font-family: arial, serif;
    background-color: lightgrey;
    opacity: .92;
}


/*.central-container{*/
/*    margin: 0 15px;*/

/*@media all and (min-width:768px){*/
/*    margin: 0 45px;*/
/*}*/
/*@media all and (min-width:1200px){*/
/*    margin: 0 auto;*/
/*    width: 924px;*/
/*}*/
/*}*/
