/* COMMON */
body {
    background-image: url("/images/anonymous-server-background.jpg");
    height: 100vh;
    background-color: grey;
}
.page {
    /*central container*/
    margin: 0 30px;
}




/* HEADER */
.page__header {
    text-align: right;
}
.nav-trigger {
    color: white;
    background-color: #402929;
    .opacity: 0.92;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 20%;
}




/* MENU */
.nav {
}
.nav__items {
    list-style: none;
    text-align: center;
    padding: 0;
}
.nav__item {
}
.nav__link {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
}
.nav-close {
    color: white;
    background-color: #402929;
        .opacity: 0.92;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 20%;
}




/* MAIN */
.page__main {
}
.page__wrapper {}
.page__main-title {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
    width: 60%;
}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {
    font-family: arial, serif;
    background-color: lightgrey;
    opacity: .92;
    text-align: center;
}


/*.central-container{*/
/*    margin: 0 15px;*/

/*@media all and (min-width:768px){*/
/*    margin: 0 45px;*/
/*}*/
/*@media all and (min-width:1200px){*/
/*    margin: 0 auto;*/
/*    width: 924px;*/
/*}*/
/*}*/
